body { 
    font-family: 'Inter', sans-serif; 
}
#webname {
    user-select: none;
}

.bg-dark-custom { background-color: #121212; }
.bg-dark-custom2 { background-color: black; }
.transition-height {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}