@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
body {
    background-color: #1f85fa;
}

.about-me {
    position: absolute;
    width: 300px;
    height: 400px;
    background: white;
    z-index: 15;
    top: 50%;
    left:50%;
    margin: -200px 0 0 -150px;
    border-radius: 20px;
}
.about-me .header {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.about-me .body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 30px;
    padding-right: 30px;
}

.about-me .return-button {
    position: absolute;
    border:none;
    outline:0;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 30px;
    background-color: #2f21f3;
    color: white;
    font-family: "Playwrite AU SA", cursive;
}
.about-me .return-button:hover {
    background-color: #2017a3; 
}

.list-social {
	margin-left: 33%;
}

.list-social a:hover {
	font-weight: bold;
	font-size: 19px;
}

.list-social a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-right: 95px;
}
.fa-brands {
	margin-bottom: 10px;
}

