* {margin: 0; padding: 0;}
body {
    background-color: #121212;
    color: beige;
}

.Header {
    text-align: center;
    font-style: italic;
}

.Thumbnail1 {
    margin: 20px;
}

ul {
    list-style-type: none;
    width: 500px;
}

h3 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
}
li {
    float: left;
    margin: 0 15px 0 0;
}
li {
    padding: 10px;
    overflow: auto;
}
li:hover {
    background: #0a0909;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}

.Link {
    text-decoration: none;
    color: beige;
}
p {
    font-family: 'Courier New', Courier, monospace;
}
.image {
    width: 300px;
    height: 150px;
    overflow: hidden;
    float: left;
    margin: 0 15px 0 0;
}